<div class="form-group">
  <label>{{localize title}}</label>
  {{#if selected}}
  <input
    class="creature-ability-checkbox-attr"
    value="{{attr}}"
    type="checkbox"
    name="creature-ability-checkbox-attr-{{attr}}"
    checked
  />
  {{else}}
  <input
    class="creature-ability-checkbox-attr"
    value="{{attr}}"
    type="checkbox"
    name="creature-ability-checkbox-attr-{{attr}}"
  />
  {{/if}}
</div>
