<div class="form-group">
  <label> {{localize title}} </label>
  <input
    class="creature-ability-attr"
    id="creature-ability-attr-{{attr}}"
    data-attr="{{attr}}"
    name="creature-ability-attr-{{attr}}"
    type="text"
    value="{{value}}"
  />
</div>
