<div class="creature-ability-row">
  <div class="form-group">
    {{> (worldLabelTemplate) worldIconTemplate=worldIconTemplate}}
  </div>
  {{#if showAdvances}}
  <div class="form-group creature-ability-col-advances">
    <input
      class="creature-ability-advances-input-{{type}}"
      data-id="{{id}}"
      id="creature-advances-{{id}}"
      name="creature-advances-{{id}}"
      type="number"
      value="{{advance}}"
    />
  </div>
  {{/if}} {{#if showGroup}} {{#if hasGroupName}}
  <div class="form-group creature-ability-col-group">
    <input
      class="creature-ability-group-input-{{type}}"
      data-id="{{id}}"
      id="creature-group-{{id}}"
      name="creature-group-{{id}}"
      type="text"
      value="{{groupName}}"
    />
  </div>
  {{else}}
  <div class="form-group creature-ability-col-group">
    <label></label>
  </div>
  {{/if}} {{/if}} {{#if showSpecification}} {{#if hasSpecification}}
  <div class="form-group creature-ability-col-spec">
    <input
      class="creature-ability-spec-input-{{type}}"
      data-id="{{id}}"
      id="creature-spec-{{id}}"
      name="creature-spec-{{id}}"
      type="text"
      value="{{specification}}"
    />
  </div>
  {{else}}
  <div class="form-group creature-ability-col-spec">
    <label></label>
  </div>
  {{/if}} {{/if}} {{#if showInclude}}
  <div class="creature-ability-col-include">
    <div class="form-group">
      {{#if include}}
      <input
        class="creature-ability-include-checkbox-{{type}}"
        value="{{id}}"
        type="checkbox"
        name="creature-include-{{id}}"
        checked
      />
      {{else}}
      <input
        class="creature-ability-include-checkbox-{{type}}"
        value="{{id}}"
        type="checkbox"
        name="creature-include-{{id}}"
      />
      {{/if}}
    </div>
  </div>
  {{/if}}
  <div class="form-group creature-ability-col-action">
    <button
      class="creature-ability-remove-{{type}} chooser-form-button"
      type="button"
      value="{{id}}"
    >
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
