<form autocomplete="off">
  <div class="form-group">
    <button id="randomSpeciesButton" type="button">
      {{localize 'WFRP4NPCGEN.common.button.Random'}}
    </button>
  </div>
  <div class="form-group">
    <label>
      {{localize 'WFRP4NPCGEN.creatures.abilities.select.species.label'}}
    </label>
    <select id="speciesSelect">
      {{#each species}} {{#if selected}}
      <option value="{{key}}" selected="selected">{{localize value}}</option>
      {{else}}
      <option value="{{key}}">{{localize value}}</option>
      {{/if}} {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label> {{localize 'WFRP4NPCGEN.cityborn.select.label'}} </label>
    <input
      id="cityBornInput"
      name="cityborn"
      type="text"
      value="{{data.cityBorn}}"
    />
  </div>
  <div class="form-group">
    <label>{{localize 'WFRP4NPCGEN.nativetongue.select.label'}}</label>
    <datalist id="nativeTongueInputList">
      {{#each nativeTongues}}
      <option value="{{this}}"></option>
      {{/each}}
    </datalist>
    <input
      list="nativeTongueInputList"
      value=""
      id="nativeTongueInput"
      type="text"
      name="nativeTongueInput"
    />
  </div>
  {{> (buttonsTemplate)}}
</form>
