<div class="form-group">
  <label> {{localize title}} </label>
  <select
    id="creature-ability-select-attr-{{attr}}"
    class="creature-ability-select-attr"
    data-models="{{models}}"
    data-attr="{{attr}}"
  >
    {{#each items}} {{#if selected}}
    <option value="{{key}}" selected="selected">{{localize value}}</option>
    {{else}}
    <option value="{{key}}">{{localize value}}</option>
    {{/if}} {{/each}}
  </select>
</div>
