<div class="magic-row">
  <div class="form-group">
    {{> (worldLabelTemplate) worldIconTemplate=worldIconTemplate}}
  </div>
  <div class="form-group magic-col-action">
    <button
      class="magic-remove-{{type}} chooser-form-button"
      type="button"
      value="{{id}}"
    >
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
