<div class="magic-col">
  <div class="magic-row">
    <div class="form-group">
      <label>{{localize title}}</label>
    </div>
  </div>
  <div class="magic-row">
    <div class="form-group chooser-select-container">
      <select id="magics-select-{{type}}" class="chooser-select-icons">
        {{#each magics}}
        <optgroup label="{{group}}">
          {{#each items}} {{#if selected}}
          <option data-group="{{../group}}" value="{{key}}" selected="selected">
            {{> (../../worldIconTemplate)}}{{localize value}}
          </option>
          {{else}}
          <option data-group="{{../group}}" value="{{key}}">
            {{> (../../worldIconTemplate)}}{{localize value}}
          </option>
          {{/if}} {{/each}}
        </optgroup>
        {{/each}}
      </select>
      <button
        id="magics-add-{{type}}"
        type="button"
        class="chooser-form-button"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="magic-row">
    <div class="form-group">
      <label>{{localize 'WFRP4NPCGEN.name.select.label'}}</label>
    </div>
    <div class="form-group magic-col-action">
      <label></label>
    </div>
  </div>
  {{#each selectedMagics}} {{> (../magicTemplate)
  worldIconTemplate=../worldIconTemplate
  worldLabelTemplate=../worldLabelTemplate type=../type magic=this }} {{/each}}
</div>
