<form autocomplete="off">
  {{#if showRandom}}
  <div class="form-group">
    <button id="randomNameButton" type="button">
      {{localize 'WFRP4NPCGEN.common.button.Random'}}
    </button>
  </div>
  {{/if}}
  <div class="form-group">
    <label class="chooser-small-label">
      {{localize 'WFRP4NPCGEN.name.select.label'}}
    </label>
    <input id="nameInput" name="name" type="text" value="{{data.name}}" />
  </div>
  {{> (buttonsTemplate)}}
</form>
