.creature-chooser-img {
  position: relative;
  padding-bottom: 20em;
  overflow: hidden;
}

.creature-chooser-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
}
