.magic-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.magic-row > * {
  width: 100%;
  margin: 0 !important;
}

.magic-row > * > * {
  height: 100% !important;
}

.magic-row input {
  padding-top: 0.5em !important;
}

.magic-row label {
  padding-top: 0.8em !important;
}

.magic-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.magic-col-action {
  max-width: 38px;
}
