.wfrp4e-npc-generator-dialog .dialog-content {
  flex: 100%;
}

.wfrp4e-npc-generator-dialog-creature-chooser {
  min-width: 400px;
  min-height: 500px;
}

.wfrp4e-npc-generator-dialog .creature-chooser {
  height: 100%;
}

.wfrp4e-npc-generator-dialog .creature-chooser-img {
  position: relative;
  padding-bottom: 20em;
  height: 80%;
  overflow: hidden;
}

.wfrp4e-npc-generator-dialog .creature-chooser-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
}

.wfrp4e-npc-generator-notifications-hide {
  display: none;
}
