.species-others-row,
.species-origins-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.species-others-radio-row,
.species-origins-radio-row {
  flex: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.species-others-radio-row-radio,
.species-origins-radio-row-radio {
  min-height: 1.3em;
}

.species-others-radio-row-label,
.species-others-radio-row-radio,
.species-origins-radio-row-label,
.species-origins-radio-row-radio {
  flex-grow: 1;
}

.species-others-checkboxes-container {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: stretch !important;
}

.species-others-checkbox-container {
  flex: 50% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: stretch !important;
}

.species-others-checkbox-label {
  flex: 80%;
}

.species-others-checkbox {
  flex: 20%;
}
